@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #1C1B1A;
}
.navi-bar{
    background: #5A6D9C;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.3s ease;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto ;
    padding: 0 50px;
}

#navlogo{
    background-color: #ebece3;
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigation-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.items{
    height: 60px;
}

.link{
    color: #ebece3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.link:hover{
    background:rgb(221, 63, 94);
    padding: 25px;
    color: #ebece3;
    transition: 0.5s;
}
h1{
    font-size:50px; 
    font-weight:100;
    text-align:center;
    margin-top: 100px;
    margin-bottom: 10px;
    color: #ebece3;
    
}
.text2{
    font-weight:bold;
    color: #ebece3;
    background:#C89C44;
    padding: 0 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 26px 0px rgba(136, 132, 132, 0.799);
}

.title-desc{
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.2s;
}
@keyframes fadeIn { from {opacity:0} to {opacity:1}}
.project-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 20px;
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1.5s;
    margin-bottom: 50px;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.grid > article{
    background-color: #ebece3;
    border: none;
    box-shadow: 2px 2px 26px 0px rgba(87, 85, 85, 0.799);
    border-radius: 20px;
    text-align: left;
    width: 250px;
    margin-top: 50px;
    transition: transform .3s;
}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(136, 132, 132, 0.799);
}

.grid > article img {
    width: 100%;
    border-radius: 20px;
}

.project-desc{
    padding: 0 20px 20px;
}

.project-desc h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}

a.readbtn{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #5786B0;
    border-radius: 10px;
    border: none;
    color: #ebece3;
    padding: 10px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
@media screen and (max-width: 960px){
    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 60px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navigation-menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
    }
    .navigation-menu.active{
        background: #5A6D9C;
        top: 100% ;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height:50vh ;
        font-size: 1.5rem;
    }
    #navlogo{
        padding-left: 25px;
    }
    .toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ebece3;
    }
    .item{
        width: 100%;
    }
    .link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-version{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    } 
    .toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-version.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-version.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-version.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
}
@media(max-width: 760px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 500px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .grid > article{
        text-align: center;
    }
}
